<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_CmsTree>
            <version>1.3.4</version>
        </Bubble_CmsTree>
    </modules>
    <global>
        <resources>
            <bubble_cmstree_setup>
                <setup>
                    <module>Bubble_CmsTree</module>
                    <class>Bubble_CmsTree_Model_Resource_Setup</class>
                </setup>
            </bubble_cmstree_setup>
        </resources>
        <helpers>
            <bubble_cmstree>
                <class>Bubble_CmsTree_Helper</class>
            </bubble_cmstree>
            <cms>
                <rewrite>
                    <page>Bubble_CmsTree_Helper_Cms_Page</page>
                </rewrite>
            </cms>
        </helpers>
        <models>
            <bubble_cmstree>
                <class>Bubble_CmsTree_Model</class>
            </bubble_cmstree>
            <cms>
                <rewrite>
                    <page>Bubble_CmsTree_Model_Cms_Page</page>
                    <page_permission>Bubble_CmsTree_Model_Cms_Page_Permission</page_permission>
                </rewrite>
            </cms>
            <cms_resource>
                <rewrite>
                    <page>Bubble_CmsTree_Model_Resource_Cms_Page</page>
                    <page_tree>Bubble_CmsTree_Model_Resource_Cms_Page_Tree</page_tree>
                    <page_collection>Bubble_CmsTree_Model_Resource_Cms_Page_Collection</page_collection>
                    <page_permission>Bubble_CmsTree_Model_Resource_Cms_Page_Permission</page_permission>
                </rewrite>
                <entities>
                    <page_permission><table>bubble_cms_page_permission</table></page_permission>
                </entities>
            </cms_resource>
            <sitemap_resource>
                <rewrite>
                    <cms_page>Bubble_CmsTree_Model_Resource_Sitemap_Cms_Page</cms_page>
                </rewrite>
            </sitemap_resource>
            <adminhtml>
                <rewrite>
                    <system_config_source_cms_page>Bubble_CmsTree_Model_Adminhtml_System_Config_Source_Cms_Page</system_config_source_cms_page>
                </rewrite>
            </adminhtml>
        </models>
        <blocks>
            <bubble_cmstree>
                <class>Bubble_CmsTree_Block</class>
            </bubble_cmstree>
            <cms>
                <rewrite>
                    <page>Bubble_CmsTree_Block_Cms_Page</page>
                </rewrite>
            </cms>
            <adminhtml>
                <rewrite>
                    <cms_page_edit>Bubble_CmsTree_Block_Adminhtml_Cms_Page_Edit</cms_page_edit>
                    <cms_page_widget_chooser>Bubble_CmsTree_Block_Adminhtml_Cms_Page_Widget_Chooser</cms_page_widget_chooser>
                    <cms_page_edit_tab_design>Bubble_CmsTree_Block_Adminhtml_Cms_Page_Edit_Tab_Design</cms_page_edit_tab_design>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <bubble_cmstree_page_prepare_form>
                        <type>singleton</type>
                        <class>Bubble_CmsTree_Model_Adminhtml_Cms_Page_Observer</class>
                        <method>prepareForm</method>
                    </bubble_cmstree_page_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_prepare_save>
                <observers>
                    <bubble_cmstree_page_prepare_save>
                        <type>singleton</type>
                        <class>Bubble_CmsTree_Model_Adminhtml_Cms_Page_Observer</class>
                        <method>prepareSave</method>
                    </bubble_cmstree_page_prepare_save>
                </observers>
            </cms_page_prepare_save>
        </events>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <Bubble_CmsTree before="Mage_Cms">Bubble_CmsTree_Cms</Bubble_CmsTree>
                    </modules>
                </args>
            </cms>
        </routers>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <bubble_cmstree>
                        <type>singleton</type>
                        <class>Bubble_CmsTree_Model_Observer</class>
                        <method>beforeTopmenuHtml</method>
                    </bubble_cmstree>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_CmsTree before="Mage_Adminhtml">Bubble_CmsTree_Adminhtml</Bubble_CmsTree>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bubble_cmstree>
                    <file>bubble/cmstree.xml</file>
                </bubble_cmstree>
            </updates>
        </layout>
        <translate>
            <modules>
                <Bubble_CmsTree>
                    <files>
                        <default>Bubble_CmsTree.csv</default>
                    </files>
                </Bubble_CmsTree>
            </modules>
        </translate>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_save_before>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </cms_page_save_before>
            <cms_page_save_after>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </cms_page_save_after>
            <admin_user_delete_after>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </admin_user_delete_after>
            <website_delete_after>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </website_delete_after>
            <store_delete_after>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </store_delete_after>
            <cms_page_get_available_statuses>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </cms_page_get_available_statuses>
            <cms_page_delete_after>
                <observers>
                    <enterprise_cms>
                        <type>disabled</type>
                    </enterprise_cms>
                </observers>
            </cms_page_delete_after>
        </events>
    </adminhtml>
    <default>
        <bubble_cmstree>
            <general>
                <permissions_enabled>0</permissions_enabled>
                <cms_not_allowed_page/>
                <save_rewrites_history>0</save_rewrites_history>
                <include_in_menu>0</include_in_menu>
                <confirm_switch>0</confirm_switch>
            </general>
        </bubble_cmstree>
    </default>
</config>