# Magento Connect 2 cache directories and files
html/downloader/pearlib/cache/
html/downloader/*.cfg
 
# Magento runtime media files
html/media/catalog/product/cache/
html/media/tmp/
html/media/js/
html/media/css/
html/media/.thumbs/
 
# Magento runtime directories and files
html/var/*
!html/var/.htaccess


