.fixed-header .menu > li.menu-full-width .nav-sublist-dropdown, 
.fixed-header .menu > li.menu-static-width .nav-sublist-dropdown, 
.main-nav .menu > li.menu-full-width .nav-sublist-dropdown, 
.main-nav .menu > li.menu-static-width .nav-sublist-dropdown,
.fixed-header .menu > li .nav-sublist-dropdown .container > ul > li a, 
.main-nav .menu > li .nav-sublist-dropdown .container > ul > li a,
.fixed-header .menu > li .nav-sublist-dropdown, 
.main-nav .menu > li .nav-sublist-dropdown,
.dropdown-menu,
.cart-popup-container,
.dropdown-menu li{
	border-color: #54524B;
}
.input-search-seperated .input-text,
.input-search-seperated .input-close{
    color:#dedcd7;
}
@media only screen and (min-width: 767px){
	.cms-granada-home-5 .header-container{
		background: none;
	}
}
.cms-granada-home-5 .menu-container{
	position: relative;
}