.homepage-slider {
    .owl-controls .owl-buttons div {
        position: absolute;
        top: 50%;
        width: 47px;
        height: 47px;
        margin-top: -17px;
        @include opacity(0);
        visibility: hidden;
        &:before {
            font-size: 25px;
            line-height: 47px;
        }
        &.owl-next {
            right: 30px;
        }
        &.owl-prev {
            left: 30px;
        }
    }
    &:hover {
      .owl-controls .owl-buttons div{
          @include opacity(1);
          visibility: visible;
      }
    }
}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    @include opacity(0);
    @include transition(all 0.3s);
    @include bp(max-width, $bp-medium) {
        display: none;
    }
}
.owl-carousel:hover {
  .owl-controls .owl-pagination {
      @include opacity(1);
  }
}
.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #9e9d96;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    border-color: $c-active;
    background-color: $c-active;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.d-inline-block {
    display: inline-block;
}
.v-align-middle {
    vertical-align: middle;
}
.white-font,
.white-font h1,
.white-font h2,
.white-font h3,
.white-font h4,
.white-font h5,
.white-font h6{
    color: #FFFFFF !important;
}
.black-font,
.black-font h1,
.black-font h2,
.black-font h3,
.black-font h4,
.black-font h5,
.black-font h6{
    color: #000000 !important;
}
.button-black {
  border-color: #000000;
  color: #000000;
}
.upper-font {
    text-transform: uppercase;
}
.button-white,
.footer .button-white {
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.gray-font {
    color: #8c8574;
}
.gray-dark-font,
.gray-dark-font h1,
.gray-dark-font h2,
.gray-dark-font h3,
.gray-dark-font h4,
.gray-dark-font h5,
.gray-dark-font h6{
    color: #75726b;
}
.dark-light-font,
.dark-light-font h1,
.dark-light-font h2,
.dark-light-font h3,
.dark-light-font h4,
.dark-light-font h5,
.dark-light-font h6{
    color: #6c675b !important;
}
.button-dark-light {
    color: #6c675b;
    border-color: #6c675b;
}
.button-gray {
    border-color:#8c8574;
    color:#8c8574;
}
//homepage 1
.vcontainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  .valign-middle {
    display: table-cell;
    vertical-align: middle;
    @include bp(max-width,$bp-medium){
        text-align: center;
    }
  }
}
.season-block {
    padding-top: 10vh;
    @include bp(max-width,$bp-medium){
        padding-top:0;
    }
    .season-duration {
      font-size: 18px;
      line-height: 1;
      margin-bottom:28px;
      @include bp(max-width, $bp-medium) {
        display: none;
      }
    }
    .season-sub-title {
      font-size: 40px;
      line-height: 1;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 0;
      @include bp(max-width, $bp-medium) {
        font-size: 30px;
      }
      @include bp(max-width, $bp-xsmall) {
        font-size: 20px;
      }
    }
    .season-title {
      font-size: 80px;
      text-transform: uppercase;
      @include responsive-font(120);
    }
    .season-large-title {
      font-size: 350px;
      display: inline-block;
      vertical-align: middle;
      line-height: 0.7;
      @include responsive-font(350);
    }
    .season-description {
      font-size: 22px;
      font-weight: 300;
      max-width: 660px;
      margin:0 auto 40px;

      @include bp(max-width, $bp-medium) {
        display: none;
      }
    }
}

.arrival-block{
    display: inline-block;
    .arrival-sub-title {
        font-size: 23px;
        margin-bottom: 0;
    }
    .arrival-title {
      font-size: 90px;
      @include bp(max-width, $bp-xlarge) {
        font-size: round(90/1.23)+px;
      }
      @include bp(max-width, $bp-large) {
        font-size: round(90/1.4)+px;
      }
      @include bp(max-width, $bp-medium) {
        font-size: round(90/1.56)+px;
        line-height: 1;
      }
      @include bp(max-width, $bp-small) {
        font-size: round(90/2)+px;
      }
    }
    .arrival-description {
      font-size: 22px;
      max-width: 570px;
      margin: 0 auto 30px;
      @include bp(max-width, $bp-medium){
        display: none;
      }
    }
}


.collection-block {
    float: right;
    @include bp(max-width, $bp-medium){
        float: none;
    }
    .collection-sub-title{
      font-size: 45px;
      margin-bottom: 30px;
      @include bp(max-width, $bp-medium){
        font-size: 30px;
        margin-bottom: 15px;
      }
      @include bp(max-width, $bp-small) {
        font-size: 22px;
        margin-bottom: 0;
      }
    }
    .collection-title {
      font-size: 130px;
      line-height: 1;
      margin-bottom:10px;
      @include responsive-font(130);
    }
    .collection-desc {
      font-size: 22px;
      @include bp(max-width, $bp-medium){
        display: none;
      }
    }
}

.home-products {
    padding: 64px 0 52px;
    .sub-title {
        font-size: 35px;
        margin-bottom: 40px;
        text-align: center;
    }
    .owl-controls {
        position: absolute;
        top: -95px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .products-slider {
        padding-top: 95px;
    }
    .button-up {
        color: $c-text-custom;
        border-color: $c-text-custom;
    }
}
.blog-section{
    padding-top:64px;
    @include bp(max-width, $bp-medium){
      padding-top: 55px;
    }
    @include bp(max-width,$bp-medium){
        padding-top: 54px;
    }
    .slider-blog-container {
        margin-bottom: 150px;
        @include bp(max-width,$bp-medium){
            margin-bottom:50px;
        }
    }
}
.trend-block {
    display: inline-block;
    .trend-sub-title {
        font-size:35px;
        line-height:1;
        margin-bottom: 28px;
    }
    .trend-title {
        font-size: 90px;
        margin-bottom: 9px;
        @include responsive-font(90);
        @include bp(max-width, $bp-xsmall){
            font-size: 40px;
        }
    }
    .trend-description {
        font-size: 35px;
        line-height: 1;
        margin-bottom: 40px;
    }
}
.about-us-block {
    padding: 60px 0 140px;
    text-align: center;
    @include bp(max-width, $bp-medium){
        padding: 55px 0 70px;
    }
    .about-us-block-title {
        font-size: 35px;
        line-height: 1;
        margin-bottom: 25px;
    }
    .about-us-block-desc {
        font-size: 30px;
        line-height: 40px;
        max-width: 970px;
        margin: 0 auto;
        color: #b3aa99;
    }
}
.gray-button-container{
  .button-up,
  .button-down{
    color: $c-text-custom;
    border-color: $c-text-custom;
  }
}
@include bp(max-width, $bp-medium) {
    .season-block,
    .collection-block,
    .arrival-block,
    .collection-block,
    .arrival-block{

    }
}
//homeslider 1
.item-content {
    position: absolute;
}
.content-1,
.s3-content1,
.s3-content2,
.s3-content3 {
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    @include translate(0, -50%);
}
.content-sub-title1 {
    font-size: 23px;
    @include bp(max-width, $bp-medium) {
        font-size: 20px;
    }
    @include bp(max-width, $bp-xsmall) {
        font-size: 13px;
    }
}
.content-title1 {
    font-size: 60px;
    margin-bottom: 10px;
    @include bp(max-width, $bp-medium) {
        font-size: 50px;
    }
    @include bp(max-width, $bp-xsmall) {
        font-size: 30px;
    }
}
.content-description1 {
    font-size: 22px;
    margin-bottom: 33px;
    @include bp(max-width, $bp-xlarge) {
        display: none;
    }
}
.homepage-slider-1 {
  .content-sub-title1 {
      margin-bottom: 15px;
      @include bp(max-width, $bp-medium){
          margin-bottom: 5px;
      }
  }
  .content-title1{
      margin-bottom: 20px;
      @include bp(max-width, $bp-medium){
        margin-bottom: 5px;
      }
  }
}
.homepage-slider-2 {
  .content-title1 {
    font-size: 50px;
    margin-bottom: 15px;
    @include bp(max-width, $bp-medium){
      font-size: 40px;
    }
    @include bp(max-width, $bp-xsmall){
      font-size: 30px;
    }
  }
  .content-sub-title1 {
    font-size: 25px;
    margin-bottom: 15px;
    @include bp(max-width, $bp-medium){
      font-size: 20px;
    }
    @include bp(max-width, $bp-xsmall){
      font-size: 13px;
    }
  }
  .content-description1 {
    max-width: 495px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
  }
}
.homepage-slider-3 {
  .item-content {
    max-width: 410px;
  }
  .content-sub-title1 {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 7px;
  }
  .content-title1 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  .content-description1 {
    font-size: 18px;
    line-height: 28px;
    max-width: 410px;
    margin-bottom: 30px;
  }
  .s3-content1 {
    left: 8%;
  }
  .s3-content2 {
    right: 0;
    text-align: center;
    margin: 0 auto;
  }
  .s3-content3 {
    left: auto;
    right: 8%;
  }
}
//homepage 2
.banner {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  &.hover-zoom {
      @include transition(0.3s all ease-in-out);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;
      img {
        @include transition(0.5s all ease-in-out);
        width: 100%;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
      }
      &:hover {
          background: #FFFFFF;
          img {
              @include scale(1.2);
              @include opacity(0.75);
          }
      }
      &.black-bg {
          &:hover {
              background: #000000;
          }
      }
  }
  .banner-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: #8d8980;
    z-index: 2;
    padding: 10px;
    margin: 5px;
    font-size: 13px;
  }
  &.full-inner {
      .banner-content {
          margin: 0;
          padding: 0;
          .banner-inner {
              width: 100%;
          }
      }
  }
  &.white-inner {
      .banner-inner {
          background: rgba(255,255,255,0.7);
          color: #000000;
      }
  }
}
.banner-inner {
    .product-name,
    h2.product-name{
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 17px;
    }
    .price-box {
        margin-bottom: 10px;
    }
    .links-wrapper {
        float: right;
        .button {
            padding: 0;
            width: 40px;
            height: 33px;
            &:before {
                font-size: 22px;
                line-height: 33px;
            }
        }
    }
}
.black-bg {
    h2.product-name a, h3.product-name a, h4.product-name a, h5.product-name a, p.product-name a{
        color: #FFFFFF;
    }
}
.banner-product {
    margin-bottom: 12px;
    .banner-inner {
        padding: 20px;
        @include opacity(0);
        visibility: hidden;
        @include transition(all 0.3s);
    }
    &:hover {
        .banner-inner {
            @include opacity(1);
            visibility: visible;
        }
    }

}
.vertical-middle {
    position: absolute;
    top: 50%;
    @include translate(0 , -50%);
}
.vertical-bottom {
    position: absolute;
    bottom: 0;
}
.adver-sub-title {
    font-size: 22px;
    line-height: 1;
    margin-bottom: 18px;
    .small-banner & {
        margin-bottom: 14px;
    }
    @include bp(max-width, $bp-large) {
        font-size: 20px;
    }
    @include bp(max-width, $bp-medium) {
      font-size: 22px;
    }
    @include bp(max-width, $bp-xsmall) {
      font-size: 20px;
      margin-bottom: 5px;
    }
}
.adver-title {
    font-size: 50px;
    @include bp(max-width, $bp-xlarge) {
        font-size: 40px;
    }
    @include bp(max-width, $bp-large) {
        font-size: 30px;
    }
    @include bp(max-width, $bp-medium) {
      font-size: 50px;
    }
    @include bp(max-width, $bp-xsmall) {
      font-size: 30px;
      margin-bottom: 5px;
    }
}
.adver-button,
.adver-button .button {
  font-size: 15px;
  line-height: 22px;
  padding: 7px 15px;
  min-width: 150px;
}

.home-advertise-1 {
    margin-top: 30px;
    margin-bottom: 60px;
    .adver-content {
        position: absolute;
        right: 0;
    }
}
.home-advertise-2 {
    margin-top: 45px;
    margin-bottom: 60px;
    .adver-content {
      position: absolute;
      right: 0;
      left: 0;
    }
}
.home2_testimonial {
    margin-top: 130px;
    margin-bottom: 125px;
    @include bp(max-width, $bp-medium) {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}
.icon-quote {
    font-size: 0;
    display: inline-block;
    width: 35px;
    height: 30px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    background-position: -33px -105px;
    margin-bottom: 23px;
    .white-font &{
      background-position: -29px -165px;
    }
  }
.testimonials-section  {
    padding: 50px 0 40px;
    text-align: center;
    .testimonials-content {
        padding: 25px 190px;
        font-size: 15px;
        line-height: 23px;
        @include bp(max-width, $bp-medium) {
              padding: 15px;
          }
    }
    .testimonials-author {
        font-size: 15px;
        font-style: italic;
    }
    .owl-wrapper-outer {
        margin-bottom: 40px;
    }
}
.theme-featured-block {
    margin-top: 100px;
    margin-bottom: 100px;
    @include bp(max-width, $bp-medium) {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
.functions {
    margin: 20px 0;
    @include clearfix;
    .function-icon {
        float: left;
        width: 80px;
        height: 80px;
        font-size: 0;
        background: #efead9;
        margin-right: 20px;
        text-align: center;
        &:before {
            line-height: 80px;
        }
    }
    .function-title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 5px;
        font-weight:400;
    }
    .function-description {
        font-size: 13px;
        line-height: 1.4;
    }
}
.icon-font {
    font-size: 0;
}
.icon-truck:before {
  font-family: granada-font;
  font-size: 45px;
  content: '\e839';
}
.icon-phone:before {
  font: 35px granada-font;
  content: '\e838';
}
.icon-lock:before {
  font: 35px granada-font;
  content: '\e83a';
}
.brands-slider-block {
    margin-top: 95px;
    margin-bottom: 130px;
    .brands-title {
        @include sub_title_type1();
    }
    @include bp(max-width, $bp-medium) {
        margin-top: 60px;
        margin-bottom: 100px;
    }
}
.product-grid-tab {
    padding-bottom: 60px;
    &.tab-custom{
        padding-bottom:10px;
    }
}
.brnads-slider {
    .brand-item {
        padding: 0 15px;
        img{
          width:100%;
        }
    }
    @include owl_controls_type1();
}
.product-list-tab {
    margin-top: 50px;
    .home-product-slider {
        .sub-title {
            display: none;
        }
    }
    .slider-type-2 .owl-controls {
        top: -80px;
        right: 15px;
    }
    @include bp(max-width, $bp-medium) {
        .tab-content {
            padding-top: 90px;
        }
        > ul {
            text-align: center;
        }
        > ul > li {
            float: none;
            display: inline-block;
        }
    }
}
.home-about-us {
    padding: 75px 0 90px;
    background: #f3f3f0;
    margin-bottom:95px;
}
.home-about-title {
    text-align: center;
    .sub-title {
        font-size: 35px;
        padding-bottom: 20px;
        display: inline-block;
        border-bottom: 1px solid #8c8574;
    }
}
.about-featured-block {
    margin-top: 70px;
    margin-bottom: 85px;
    .icon-font {
        width: 80px;
        height: 80px;
        @include border-radius(80px);
        margin: 0 auto;
        margin-bottom: 25px;
        background-color: $c-active;
        color: #FFFFFF;
        .home-about-us-1 & {
            background-color: #efead9;
            color: #868279;
        }
        &:before {
           line-height: 80px;
        }
    }
    .about-featured {
        padding-top: 25px;
        padding-bottom: 25px;
        .about-feature-title {
          color: #868279;
          font-size:20px;
          margin-bottom: 25px;
        }
        &:hover {
          cursor: pointer;
          background-color: $c-active;
          color: #FFFFFF;
          @include transition(all 0.4s);
          .icon-font{
              background-color: $c-active;
              color: #ffffff;
              border: 1px solid #FFFFFF;
              .home-about-us-1 &{
                  background-color: $c-active;
                  color: #FFFFFF;
              }
          }
          .about-feature-title{
              color: #FFFFFF;
          }
        }
    }
    .about-feature-desc {
      padding: 0 15px;
      line-height: 23px;
    }
}
.home-intro-title {
  text-align: left;
  h2{
      font-size:27px;
  }
}
.intro-block {
    text-align: left;
    img{
        width: 100%;
    }
    .col-sm-4{
        @include bp(max-width, $bp-medium){
            margin-bottom: 70px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.intro-accordion{
    @include bp (max-width, $bp-medium){
        margin-bottom: 70px;
    }
    > li > a {
        border: none;
        padding-left: 45px;
    }
    .children {
        padding-left: 57px;
        li {
            list-style: initial;
            padding: 5px 0;
        }
    }
    .open-this{
        left: 0;
    }
}
.home-shop-block {
    margin-bottom: 65px;
    @include bp(max-width, $bp-medium) {
        margin-bottom: 25px;
    }
    h2{
        font-size:27px;
    }
}
.cms-index-index {
    .block-title {
        padding: 0 20px;
        background: #d8d2c5;
        strong {
            color: #FFFFFF;
        }
    }
    .block-content {
        padding: 10px 0 70px;
       li > a,
       .category-accordion-wrapper li > a {
            padding: 7px 20px;
       }
       >ul.manufacturers_list{
          border-left: 1px solid $c-divider-border;
          border-right: 1px solid $c-divider-border;
       }
    }
    .manufacturers_list > li a {
        text-transform: uppercase;
    }
    .products-slider .block-title .arrows-container,
    .slider-blog-container .arrows-container{
        right: 10px;
    }
    .products-slider {
      .block-content {
          padding-top: 30px;
          li.item {
              margin-left: 0;
          }
      }
    }
    .slider-blog-container {
        .block-content {
            padding-top: 30px;
            h2 {
                font-size: 18px;
            }
        }
    }
    .block-youtube{
        .block-content{
            padding-top: 30px;
        }
    }
}
.home-sidebar-accordion,
.nav-category-list {
  border-left: 1px solid $c-divider-border;
  border-right: 1px solid $c-divider-border;
  li li {
    padding-left: 0;
    a {
      padding-left: 30px;
    }
    li a {
      padding-left: 35px;
    }
    li li a {
      padding-left: 40px;
    }
  }
}
.nav-category-list {
  border-bottom: 1px solid $c-divider-border;
}

.service-dev-icon,
.service-marketing-icon,
.service-design-icon,
.service-hosting-icon {
    text-align: center;
    width: 130px;
    height: 130px;
    background: #eeeadd;
    float: left;
    &:before {
        font: 60px/130px granada-font;
    }
}
.service-dev-icon:before {
    content: '\e83b';
}
.service-marketing-icon:before {
  content: '\e855';
}
.service-design-icon:before {
  content: '\e83c';
}
.service-hosting-icon:before {
  content: '\e83d';
}
.service-content {
    margin-left: 150px;
}
.md-title .service-content h2 {
  font-size: 27px;
  @include bp(max-width,$bp-xsmall){
    font-size:20px;
    margin-bottom:5px;
  }
}
.service-wrapper {
    margin-bottom: 80px;
    @include clearfix;
    @include bp(max-width, $bp-medium){
        margin-bottom: 30px;
    }
}
.service-title {
    margin-bottom: 40px;
    @include bp(max-width, $bp-medium){
      margin-bottom: 30px;
    }
}

.about-our-service {
  margin-bottom: 40px;
  @include bp(max-width, $bp-medium){
    margin-bottom: 0;
  }
  .service-title h1 {
    font-size: 27px;
  }
  .service-dev-icon,
  .service-marketing-icon,
  .service-design-icon,
  .service-hosting-icon {
    width: 160px;
    height: 170px;
    &:before{
        line-height: 170px;
    }
  }
  .service-content {
    margin-left: 200px;
    h2 {
      font-size: 30px;
    }
  }
}
.about-meet-our-team .team-mb-name {
  color: #9d9689;
}
.about-meet-our-team .button-custom {
  border-color: #bdbcb2;
  color: #bdbcb2;
}
//fullscreen slider
.full-screen-slider {
    .content {
        position: absolute;
        top: 50%;
        @include translate(0, -50%);
        text-align: center;
        left: 0;
        right: 0;
    }
    .content-sub-title {
        font-size: 25px;
        @include bp(max-width, $bp-medium){
            font-size: 20px;
        }
    }
    .content-title {
      font-size: 90px;
      @include bp(max-width, $bp-large){
          font-size: 60px;
      }
      @include bp(max-width, $bp-small){
          font-size: 35px;
      }
    }
    .content-desc {
        font-size: 22px;
        @include bp(max-width, $bp-medium){
            display: none;
        }
    }
}
.meet-our-team {
    padding-top: 80px;
    h2 {
      font-size:20px;
      margin-bottom: 115px;
      text-align: center;
    }
}
.meet-team-slider {
    .item {
        padding: 0 15px;
    }
    .owl-controls {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: -85px;
    }
}
.team-social-wrapper {
    a {
        width: 35px;
        height: 35px;
        font-size: 0;
        text-align: center;
        padding: 0;
        color:#cbc6b5;
        &:before{
            font: 18px/35px granada-font;
        }
    }
}
.team-social-fb:before {
  content: '\e810';
}
.team-social-tt:before {
  content: '\e811';
}
.team-social-db:before {
  content: '\e83f';
}
.team-social-mail:before {
  content: '\e813';
}
.team-mb-wrapper {
    margin-bottom: 90px;
    @include clearfix();
    .team-photo {
      float: left;
      @include bp(max-width, $bp-medium){
          float: none;
      }
    }
    .team-desc {
      margin-left: 240px;
      @include bp(max-width, $bp-medium){
          margin-left: 0;
          margin-top: 20px;
      }
    }
    .team-mb-name {
        font-size: 25px;
        font-style: italic;
    }
    .team-mb-duty {
        font-size: 14px;
        margin-bottom:10px;
    }
    .team-mb-desc {
        font-size: 14px;
        margin-bottom: 20px;
    }
}
.our-skills {
  h2{
      font-size: 20px;
      margin-bottom: 42px;
      text-transform: capitalize;
      text-align:center;
  }
  .sub-title {
    margin-bottom: 7px;
  }
}
.about-us-skill h2 {
  font-size: 27px;
}
.progress-bar {
  background: #f5f5f5;
  height: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  @include box-shadow(none);
  >span {
    color: white;
    font-size: 5px;
    margin-left: 15px;
    line-height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    font-weight: 300;
    &.animated-counter-wrapper {
        background: #cbc6b2;
        color: #FFFFFF;
        display: block;
        padding: 4px;
        margin: 0;
        font-size: 12px;
        line-height: 1;
        top: -35px;
        margin-left: -25px;
        &:after {
            display: block;
            position: absolute;
            right:0;
            bottom: -8px;
            content: " ";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 8px 0 0;
            border-color: #bdb8a5 transparent transparent transparent;
        }
    }
  }
  >div {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $c-active;
    width: 0;
  }
}
.icon-pizza:before { content: '\e840'; }
.icon-hot:before { content: '\e841'; }
.icon-portfolio:before { content: '\e842'; }
.icon-twitter:before { content: '\e843'; }
.icon-user1:before { content: '\e844'; }
.icon-user2:before { content: '\e845'; }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "granada-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}
.funs-block {
    padding-top: 50px;
    padding-bottom: 70px;
}
.ga-5 {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-bottom: 20px;
    @include bp(max-width, $bp-medium){
        width: 100%;
    }
}
.funs-title {
  font-size: 40px;
}
p.funs-desc {
    font-size: 15px;
    margin-bottom: 70px;
}
.funs-icon {
    display: block;
    font-size: 40px;
}
.funs-counter,
.funs-subdesc{
    display: block;
    font-size: 16px;
}
.home-our-service-secondary{
    margin-top: 80px;
    @include bp(max-width, $bp-medium) {
        margin-top: 40px;
    }
    .service-title h1 {
      font-size: 20px;
      text-align: center;
      text-transform: capitalize;
    }
    .service-content h2 {
      font-size: 30px;
      @include bp(max-width,$bp-xsmall){
        font-size:20px;
        margin-bottom:5px;
      }
    }
    .service-content {
       padding-right: 20px;
     }

}
.latest-project {
    margin-top: 30px;
    margin-bottom: 100px;
    .latest-project-title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 115px;
      text-transform: capitalize;
    }
}
.latest-project-secondary {
  .latest-project-title {
      text-align: left;
      font-size: 27px;
      line-height: 38px;
      margin-bottom: 25px;
  }
  .latest-project-slider {
    .owl-controls{
      left: auto;
      right: 15px;
      top: -61px;
    }
  }
}
.latest-project-slider {
    .item {
        padding: 0 15px;
    }
    .project-photo {
        margin-bottom: 20px;
        img {
            width: 100%;
        }
    }
    .project-title{
        text-transform: none;
        margin-bottom: 5px;
    }
    .owl-controls {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: -85px;
    }
}
.newsletter-block_dark {
    padding: 80px 0 60px;
    .newsletter-desc{
        max-width: 605px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
.home-custom-blog {
    margin: 80px 0 110px;
    @include bp(max-width, $bp-medium) {
        margin: 40px 0;
    }
    .slider-blog-container .title{
        font-size: 20px;
        text-transform:none;
    }
}
.packery-grid {
    .packery-item{
        max-width: 100%;
        display: inline-block;
        @include transition(0.3s all ease-in-out);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        overflow: hidden;
        img {
          @include transition(0.5s all ease-in-out);
          -webkit-backface-visibility: hidden;
          -webkit-perspective: 1000;
        }
        &:hover {
          background: #000000;
          img {
            @include opacity(0.75);
          }
        }
        @include bp(max-width, $bp-medium){
            width: 100% !important;
            margin-left: 0 !important;
            margin-right:0 !important;
        }
    }
}
.packery-newsletter {
    @include clearfix;
    .packery-item{
        float: left;
        @include bp(max-width, $bp-medium){
            width: 100% !important;
        }
    }
    .packery-newsletter-custom {
        padding: 267px 0;
        width:36%;
        margin-right:0.5%;
        margin-top:0.5%;
        margin-bottom:0.5%;
        color:#6f695c;
        @include bp(max-width,$bp-xlarge){
            padding: 229px 0;
        }
        @include bp(max-width,$bp-medium){
            padding: 130px 0;
        }
        .sub-title{
          font-size: 120px;
          @include bp(max-width,$bp-xlarge){
              font-size: 90px;
          }
          @include bp(max-width,$bp-medium){
            font-size: 60px;
          }
        }
        .secondary-font{
          font-size: 35px;
          @include bp(max-width,$bp-medium){
            font-size: 20px;
          }
        }
    }
    .packery-item-newsletter {
        padding: 246px 0;
        width:63.5%;
        margin-top:0.5%;
        margin-bottom:0.5%;
        .newsletter-desc{
          max-width: 605px;
          margin: 0 auto;
          margin-bottom: 30px;
        }
        @include bp(max-width,$bp-xlarge){
            padding: 180px 0;
        }
        @include bp(max-width,$bp-medium){
          padding: 130px 0;
        }
    }
}
.show-case-block{
    position: relative;
    @include clearfix;
}
.show-case-block2 {
    padding: 270px 0;
    margin-bottom: 10px;
    @include bp(max-width,$bp-medium){
        padding: 140px 0;
    }
    .collection-sub-title {
        font-size: 23px;
        @include bp(max-width,$bp-medium){
            font-size: 22px;
        }
    }
    .collection-title{
        font-size: 90px;
        @include bp(max-width,$bp-medium){
            font-size: 50px;
        }
    }
    .collection-desc{
        margin-bottom: 34px;
        max-width: 570px;
        font-size: 22px;
        line-height: 1.4;
        margin-left: auto;
        margin-right: auto;
    }
}
.custom-arrows-gray {
  display: inline-block;
  width: 98px;
  height: 37px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-bottom: 5px;
}

.custom-arrows-white {
  display: inline-block;
  width: 98px;
  height: 37px;
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: 0px -50px;
  margin-bottom: 5px;
}

.white-buttom-container .owl-controls .owl-buttons div,
.white-font .owl-controls .owl-buttons div {
  color: #fff;
  border-color: #fff;
}
.homepage-slider-6{
    .content-sub-title1 {
        margin-bottom: 20px;
    }
    .content-title1 {
        margin-bottom: 18px;
    }
}
.bb-sub-title,
.bb-title {
    line-height: 1;
}
.bb-comment {
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    @include bp(max-width, $bp-large){
        display: none;
    }
}
.bb1 {
  .bb-sub-title{
     font-size: 45px;
     margin-bottom: 30px;
     color: #fff;
     @include bp(max-width, $bp-large){
        font-size: 25px;
        margin-bottom: 16px;
     }
  }
  .bb-title {
      font-size: 110px;
      margin-bottom: 22px;
      color: #fff;
      @include bp(max-width, $bp-large){
        font-size: 55px;
        margin-bottom: 2px;
      }
  }
  .bb-comment {
      font-size: 45px;
      margin-bottom: 34px;
      line-height: 1;
      color: #fff;
      @include bp(max-width, $bp-large){
        display: block;
        font-size: 25px;
        margin-bottom: 25px;
      }
  }
}
.bb2 {
  .bb-sub-title {
      font-size: 26px;
      margin-bottom: 23px;
      @include bp(max-width, $bp-large){
          font-size: 17px;
          margin-bottom: 13px;
      }
  }
  .bb-title {
      font-size: 65px;
      margin-bottom: 20px;
      @include bp(max-width, $bp-large){
          font-size: 44px;
      }
  }
}
.bb3 {
    .bb-sub-title {
        font-size: 20px;
        margin-bottom: 35px;
        color: #62615f;
        @include bp(max-width, $bp-large){
          font-size: 16px;
          margin-bottom: 20px;
        }
    }
    .bb-title {
        font-size: 80px;
        margin-bottom: 10px;
        color: #8c8574;
        @include bp(max-width, $bp-large){
            font-size: 43px;
            margin-bottom: 15px;
        }
    }
    .bb-comment {
        font-size: 22px;
        line-height: 1.5;
        max-width: 500px;
        margin-bottom: 40px;
    }
}
.bb4 {
    .bb-sub-title {
        color: #fff;
        font-size: 30px;
        margin-bottom: 20px;
        @include bp(min-width, 1280px){
            font-size: 35px;
            margin-bottom: 20px;
        }
        @include bp(max-width, $bp-large){
            font-size: 22px;
            margin-bottom: 16px;
        }
        @include bp(max-width, $bp-medium){
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
    .bb-title {
        color: #fff;
        font-size: 42px;
        margin-bottom: 12px;
        @include bp(min-width, 1280px){
          font-size: 50px;
          margin-bottom: 16px;
        }
        @include bp(max-width, $bp-large){
            font-size: 30px;
            margin-bottom: 12px;
        }
        span {
            display: block;
        }
    }
}
.bb5 {
    .bb-sub-title {
        font-size: 22px;
        margin-bottom: 20px;
        color: #6f695c;
        @include bp(min-width, 1280px){
            font-size: 27px;
            margin-bottom: 20px;
        }
        @include bp(max-width, $bp-large){
            font-size: 22px;
            margin-bottom: 16px;
        }
        @include bp(max-width, $bp-medium){
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
    .bb-title {
        font-size: 48px;
        margin-bottom: 16px;
        color: #6c675b;
        @include bp(min-width, 1280px){
            font-size: 62px;
        }
        @include bp(max-width, $bp-large){
            font-size: 32px;
        }
    }
}
.bb6 {
    color: #fff;
    .bb-sub-title {
        font-size: 20px;
        margin-bottom: 8px;
        @include bp(min-width, 1280px){
            font-size: 25px;
            margin-bottom: 18px;
        }
        @include bp(max-width, $bp-large){
            font-size: 20px;
            margin-bottom: 10px;
        }
        @include bp(max-width, $bp-xsmall){
            display: none;
        }
    }
    .bb-title {
        font-size: 64px;
        margin-bottom: 0;
        color: #fff;
        @include bp(min-width, 1280px){
            font-size: 90px;
        }
        @include bp(max-width, $bp-large){
            font-size: 60px;
            margin-bottom: 10px;
        }
        @include bp(max-width, $bp-xsmall){
            font-size: 35px;
            margin-bottom: 15px;
        }
    }
    .bb-comment {
        font-size: 16px;
        margin-bottom: 10px;
        max-width: 680px;
        @include bp(min-width, 1280px){
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}
.bb7{
    .bb-sub-title {
        font-size: 25px;
        margin-bottom: 25px;
        color: #fff;
        @include bp(min-width, 1280px){
            margin-bottom: 30px;
        }
    }
    .bb-title {
        font-size: 64px;
        margin-bottom: 0;
        color: #fff;
        @include bp(min-width, 1280px){
            font-size: 90px;
            margin-bottom: 5px;
        }
        @include bp(max-width, $bp-large){
            font-size: 75px;
            margin-bottom: 10px;
        }
    }
    .bb-comment {
        font-size: 18px;
        max-width: 510px;
        margin-bottom: 30px;
        color: #fff;
        @include bp(min-width, 1280px){
            font-size: 22px;
            margin-bottom: 40px;
        }
    }
}
.bb-fans-block {
    .funs-counter {
        font-weight: bold;
    }
}
.bb8{
    .bb-sub-title {
        font-size: 35px;
        color: #6f695c;
        margin-bottom: 8px;
        @include bp(max-width, $bp-large){
            font-size: 30px;
            margin-bottom: 18px;
        }
    }
    .bb-title {
        font-size: 120px;
        color: #6c675b;
        @include bp(max-width, $bp-large){
            font-size: 95px;
        }
    }
}
.bb9{
    color:#fff;
    .bb-sub-title{
        font-size: 23px;
        margin-bottom: 36px;
        color: #fff;
        @include bp(max-width, $bp-large){
            font-size: 20px;
            margin-bottom: 24px;
        }
        @include bp(max-width, $bp-xsmall){
            font-size:15px;
            margin-bottom: 5px;
        }
    }
    .bb-title {
        font-size:90px;
        margin-bottom:20px;
        color: #fff;
        @include bp(max-width, $bp-large){
            font-size: 42px;
            margin-bottom: 16px;
        }
        @include bp(max-width, $bp-xsmall){
            font-size: 24px;
            margin-bottom: 10px;
            line-height: 1;
        }
    }
    .bb-comment {
        max-width: 790px;
        font-size:30px;
        line-height:1.5;
        margin-bottom:42px;
    }
}
.banner-block {
    .testimonials-title,
    .testimonials-section .testimonials-author{
        @include bp(max-width, $bp-medium){
            display: none;
        }
    }
    .testimonials-section .testimonials-content{
        max-width: 790px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
}
.banner-block:first-child{
    margin-top: 10px;
}
.bb-para-block,
.bb-fans-block{
    margin-bottom: 10px;
}
.home-sidebar-accordion{
  > li > ul > li > a {
      text-transform: none;
  }
}
.mobile-cat-list > ul{
    > li > a {
        text-transform: uppercase;
    }
}
.blog-section,
.home2_testimonial{
    .testimonials-title{
        font-weight:bold;
        margin-bottom:25px;
    }
    .icon-quote{
        margin-bottom: 10px;
    }
}
.home-mixed-products{
    position:relative;
    > h2 {
        font-size:25px;
        text-transform:none;
        margin-bottom:115px;
        text-align:center;
    }
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
        position:static;
    }
    .products-grid{
        position:static;
        .owl-controls{
            position:absolute;
            top:55px;
            left:0;
            right:0;
            text-align:center;
        }
    }
}
.centered-nav{
    .brands-slider-block{
        margin-top:0;
        .brands-title{
            font-size:25px;
            text-transform:none;
            text-align:center;
            margin-bottom:115px;
        }
    }
    .brnads-slider .owl-controls{
        left:0;
        right:0;
        text-align:center;
        top:-85px;
    }
}
.homepage-slider-7{
  .content-sub-title1,
  .content-title1{
    margin-bottom:18px;
  }
  .content-sub-title1{
    color:#62615f;
  }
  .content-title1{
      color:#54524d;
  }
  .content-description1{
      max-width:500px;
      margin-left:auto;
      margin-right:auto;
      color:#62615f;
  }
}
.adver_block{
    .item{
        position:relative;
        padding-top:15px;
        padding-bottom:15px;
    }
}
.demo8_adver_1{
    margin-top:15px;
    .adver-sub-title{
        font-weight:400;
        color:#6f695c;
        font-size:20px;
    }
    .adver-title{
        color:#4e4c48;
    }
    .demo8_adver_1_2,
    .demo8_adver_1_3{
      .adver-title{
        font-size:45px;
        margin-bottom:13px;
        @include bp(max-width,$bp-xlarge){
          font-size:34px;
        }
      }
    }
}
.demo8_adver_2{
  .adver-sub-title{
    margin-bottom:5px;
    font-size:20px;
    @include bp(max-width,$bp-small){
      font-size:15px;
    }
  }
  .adver-title{
    font-size:45px;
    margin-bottom:10px;
    @include bp(max-width,$bp-small){
      font-size:30px;
    }
  }
  .btn-long{
    @include bp(max-width,$bp-small){
      padding:5px 30px;
    }
  }
}
.titled-block{
    margin-top:0;
    margin-bottom:100px;
    @include bp(max-width,$bp-medium){
        margin-bottom:70px;
    }
    .brnads-slider{
      padding-top:30px;
      padding-bottom:30px;
      .owl-controls{
          top:-50px;
          @include bp(max-width, $bp-medium){
              text-align:right;
              right:15px;
          }
      }
    }
}
.category_cms_block{
  .adver-sub-title{
    font-size:20px;
  }
  .adver-title{
    font-size:45px;
    margin-bottom:23px;
  }
}
.bb11,
.bb12,
.bb14,
.bb15{
    .bb-sub-title{
        font-size: 35px;
        color: #62615f;
        margin-bottom:35px;
        @include bp(max-width,$bp-medium){
            font-size: 30px;
            margin-bottom: 10px;
        }
        @include bp(max-width,$bp-small){
            font-size: 25px;
        }
        @include bp(max-width,$bp-xsmall){
          font-size: 20px;
        }
    }
    .bb-title{
        font-size: 90px;
        color: #56544f;
        margin-bottom: 30px;
        @include bp(max-width, $bp-medium){
            font-size: 75px;
        }
        @include bp(max-width,$bp-small){
          font-size: 65px;
        }
        @include bp(max-width,$bp-xsmall){
          font-size: 50px;
        }
    }
    .bb-comment{
        font-size: 28px;
        line-height: 40px;
        color:  #55534f;
        margin-bottom: 40px;
    }
}
.bb11{
  .bb-comment{
    max-width: 730px;
  }
}
.bb12{
  .bb-comment{
    max-width: 640px;
  }
}
.bb13{
  .bb13-item{
      max-width: 470px;
      margin-top: 80px;
      margin-left: auto;
      margin-right: auto;
      &:first-child{
          margin-top: 0;
      }
      .bb13-item-icon{
          float:left;
          width: 80px;
          height: 80px;
          font-size: 0;
          background: url("../images/icons_collection.png") no-repeat;
          border: 1px solid #939086;
          @include border-radius(80px);
          margin-top: 15px;
          &.item-icon-1{
            background-position: 0 0;
          }
          &.item-icon-2{
             background-position: 0 -80px;
          }
          &.item-icon-3{
              background-position: 0 -160px;
          }
      }
      .bb13-item-content{
          padding-left: 117px;
          .bb-item-title{
              font-size: 23px;
              margin-bottom: 13px;
              color: #676359;
          }
          .bb-item-desc{
              font-size: 15px;
              line-height: 24px;
              color: #6b6862;
              font-weight: 400;
          }
      }
  }
}
.bb14{
  .bb-comment{
    max-width: 665px;
  }
}
.bb15{
  .bb-comment{
    max-width: 700px;
  }
}
.sw_vertical_navigation{
  position: fixed;
  top:50%;
  @include translate(0,-50%);
  right:0;
  .sw-vertical-navigation{
    font-size: 0;
    display: block;
    width: 14px;
    height: 14px;
    border:1px solid;
    margin: 20px 30px;
    @include border-radius(14px);
    &.cur_index{
      background:#e61446;
      border-color:#e61446;
    }
  }
}
.abs-left{
    left:0;
}
.abs-right{
    right: 0;
}
@include bp(max-width, $bp-xlarge){
  [class^="col-lg-"],
  [class*="col-lg-"]{
    &.abs-left,
    &.abs-right{
      left: 0;
      right: 0;
    }
  }
}
@include bp(max-width, $bp-large){
  [class^="col-md-"],
  [class*="col-md-"]{
    &.abs-left,
    &.abs-right{
      left: 0;
      right: 0;
    }
  }
}
@include bp(max-width, $bp-medium){
  [class^="col-sm-"],
  [class*="col-sm-"]{
    &.abs-left,
    &.abs-right{
      left: 0;
      right: 0;
    }
  }
}