
body,
input,
select,
table,
textarea,
.fancybox-skin{
    color: #9b968b;
    font-family: Verdana, Geneva, sans-serif;
}
body{
    background-color: #fbfaf4;
}
.wrapper,
.opc .section .step-title h2{
}
a,
h2.product-name a, h3.product-name a, h4.product-name a, h5.product-name a, p.product-name a,
.cart-popup-container .mini-products-list p.product-name a,
.header-minicart .cart-sum .price{
    color: #857e70;
}
a:hover,
.open > a,
.active-color,
h2.product-name a:hover, h3.product-name a:hover, h4.product-name a:hover, h5.product-name a:hover, p.product-name a:hover,
.cart-popup-container .mini-products-list p.product-name a:hover{
    color: #e61446;
}
.progress-bar > div,
.header-icon-cart .cart-sum .badge,
.sw-mobile-menu > li > a:hover,
.sw-mobile-menu > li:hover > .open-child,
.sw-mobile-menu > li.over > a,
.sw-mobile-menu li .open-child:hover,
.sw-mobile-menu li.over > .open-child{
    background-color: #e61446;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
.block-title h2, .block-title h3, .block-title strong,
.title-font{
    color: #8c8574;
    font-family: Judson;
}
.value-date{
    font-family: Judson;
}
.accordion-format li.active-item > a {
    color: #8c8574;
}
.sub-title{
    color: #8c8574;
    font-family: Source Code Pro;
}
.price-box .price,
.price{
    color: #e61446;
}
.footer .footer-title {
    font-family: Source Code Pro;
}
.secondary-font,
.fixed-header .menu > li > a,
.main-nav .menu > li > a,
.fixed-header .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a.level1,
.main-nav .menu > li.menu-full-width .nav-sublist-dropdown .container ul > li > a.level1,
.fixed-header .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li > a.level1,
.main-nav .menu > li.menu-static-width .nav-sublist-dropdown .container ul > li > a.level1,
.cart-popup-container .cart-popup .block-subtitle,
.nav-category-list > li.menu-full-width .nav-sublist-dropdown ul > li > a.level1,
.nav-category-list > li.menu-static-width .nav-sublist-dropdown ul > li > a.level1,
.sw-mobile-menu li > a,
.format-date{
    font-family: Open Sans;
}
.sw-mobile-menu > li > ul > li a{
    font-family: Verdana, Geneva, sans-serif;
}
.products-grid .product-name, .products-list .product-name,
.granada-tab > ul > li a,
.product-name,
h2.product-name, h3.product-name, h4.product-name, h5.product-name, p.product-name {
    font-family: Source Code Pro;
}
.button,
.actions-container .product-add-btn.full-bg{
    background-color: #cbc6b2;
    color: #ffffff;
}
.button:hover,
.owl-controls .owl-buttons div:hover{
    background-color: #e61446;
    border-color: #e61446;
    color: #ffffff;
}
.header-minicart:hover {
    background-color: #e61446;
}
.header-minicart:hover .cart-sum a,
.header-minicart:hover .cart-sum .price{
    color: #ffffff;
}
.button-custom,
.actions-container .product-add-btn,
.actions-container .links-container .product-btn{
    border-color: #cbc6b5;
    background: none;
    color: #7e786b;
}
.button-custom:hover
{
    border-color: #e61446;
    background-color: #e61446;
    color: #ffffff;
}
.button-custom-active:hover,
.products-list-slider .owl-controls .owl-buttons div:hover,
.show-case:hover .show-icon{
    background-color: #e61446;
    border-color: #e61446;
    color: #ffffff;
}
.button-up, .button-down,
.button-white{
color: #ffffff;
border-color: #ffffff;
}
.button-gray {
border-color:#8c8574;
color:#8c8574;
}
.button-dark-light {
color: #6c675b;
border-color: #6c675b;
}
.actions-wrapper .product-add-btn {
    background-color: #aea995;
    color: #ffffff;
}
.actions-wrapper .product-add-btn:hover,
.actions-container .product-add-btn:hover{
    background-color: #1694d6;
    color: #ffffff;
}
.products-grid .actions-wrapper .product-btn {
    background-color: #cbc6b2;
    color: #ffffff;
}
.actions-wrapper .product-btn:hover,
.actions-container .links-container .product-btn:hover{
    background-color: #1694d6;
    border-color: #1694d6;
    color: #ffffff;
}
.products-grid .actions-wrapper .product-btn:hover {
border:0;
border-left:1px solid #e6dfd1;
}
/*** For OnepageCheckout Start***/
.opc-index-index .opc-wrapper-opc .login-trigger,
.opc-index-index .review-menu-block a.review-total,
.opc-index-index .expand_plus,
.opc-index-index .opc-wrapper-opc .btn-checkout.button-disabled,
.opc-index-index .opc-wrapper-opc .btn-checkout.button-disabled:hover,
.opc-index-index .opc-wrapper-opc .btn,
.opc-index-index .opc-wrapper-opc .payment-block dt{
    background-color: #cbc6b2;
    color: #ffffff;
}
.opc-index-index .opc-wrapper-opc .login-trigger:hover,
.opc-index-index .review-menu-block a.review-total:hover,
.opc-index-index .review-menu-block a.review-total.open,
.opc-index-index .discount-block h3:hover .expand_plus,
.opc-index-index .signature-block h3:hover .expand_plus,
.opc-index-index .comment-block h3:hover .expand_plus,
.opc-index-index .giftcard h3:hover .expand_plus,
.opc-index-index .discount-block h3.open-block .expand_plus,
.opc-index-index .signature-block h3.open-block .expand_plus,
.opc-index-index .comment-block h3.open-block .expand_plus,
.opc-index-index .giftcard h3.open-block .expand_plus,
.opc-index-index .opc-wrapper-opc .btn:hover,
.opc-index-index .opc-wrapper-opc .payment-block dt:hover,
.opc-index-index .opc-wrapper-opc .payment-block dt.active{
    background-color: #e61446;
    color: #ffffff;
}
.opc-index-index .review-menu-block a.review-total span{
    color: #ffffff;
}
.opc-index-index .review-menu-block a.review-total.open span{
    color: #ffffff;
}
.opc-index-index .review-menu-block .polygon{
    border-top-color:#e61446;
}
/*** For OnepageCheckout End***/
.top-bar,
.input-search{
    background-color: #f4f3e9;
}
.top-bar a{
    color: #7e786b;
}
.top-bar .links li:hover,
.top-bar .top-bar-item:hover,
.top-minicart:hover .top-bar-item{
    background-color: #ede9dd;
}
.top-bar .links li:hover > a,
.top-bar .top-bar-item:hover > a,
.top-minicart:hover .top-bar-item > a,
.top-bar a:hover,
.top-bar .open > a{
    color: #e61446;
}
.fixed-header,
.fixed-header .top-icon-search .input-search{
    background-color: #fbfbf9;
}
.header-container,
.header_widget .input-search,
.top-icon-search .input-search,
.input-search-seperated,
.mobile-nav-shown .mobile-nav{
    background-color: #fbfbf9;
}
.dropdown-menu {
    background-color: #fbfbf9;
}
.dropdown-menu li a {
    color: #7e786b;
}
.dropdown-menu li a:hover{
    background-color: #e6dfd1;
    color: #7e786b;
}
.top-bar .dropdown-menu li a.current-option,
.top-bar .dropdown-menu li a.current-option:hover,
.header_widget .dropdown-menu li a.current-option,
.header_widget .dropdown-menu li a.current-option:hover,
.dropdown-menu li a.current-option, .dropdown-menu li a.current-option:hover,
.modal-buttons .dropdown-menu li a.current-option,
.modal-buttons .dropdown-menu li a.current-option:hover,
.modal-buttons .dropdown-menu li a:hover{
    background-color: #e6dfd1;
    color: #7e786b;
}
.fixed-header .menu > li .nav-sublist-dropdown,
.main-nav .menu > li .nav-sublist-dropdown,
.nav-category-list > li .nav-sublist-dropdown,
.top_main_type_7 .main-nav .menu > li.open,
.fixed-top_main_type_7.fixed-header-area .menu > li.open{
    background-color: #fbfaf4;
}
.top_main_type_1 .main-nav,
.top_main_type_1 .mobile-widget-container,
.top_main_type_1 .top-icon-search .input-search{
    background-color: #dad6c6;
    border: none;
}
.top_main_type_1 .top-icon-search .input-search .input-text{
    background-color: #dad6c6;
}
.fixed-header .menu > li > a,
.main-nav .menu > li > a,
.fixed-header .modal-buttons a,
.header_widget a,
.menu-icon,
.input-search-seperated .input-text,
.input-search-seperated .input-close,
.fixed-top_main_type_7 .fixed-header .modal-buttons a:hover,
.top_main_type_7 .header-icon-cart .cart-sum a,
.top_main_type_7 .top-icon-search a,
.mobile-nav-shown .top_main_type_7 .menu-icon,
.mobile-top_main_type_7 .sw-mobile-menu li > a{
    color: #6f6a60;
}
.fixed-header .menu > li:hover > a,
.main-nav .menu > li:hover > a,
.fixed-header .menu > li.open > a,
.fixed-header a.act,
.main-nav a.act,
.main-nav .open > a,
.fixed-header .modal-buttons a:hover,
.header_widget > div:hover > a,
.header_widget .header-icon-cart:hover .cart-sum a,
.header_widget .dropdown-menu li a:hover,
.mobile-nav-shown .menu-icon{
    color: #e61446;
}
.fixed-header a,
.main-nav a,
.header_widget .dropdown-menu>li>a,
.modal-buttons .dropdown-menu>li>a,
.nav-category-list > li .nav-sublist-dropdown a,
.sw-mobile-menu li > a{
    color: #7e786b;
}
.fixed-header a:hover,
.main-nav a:hover,
.header_widget .dropdown-menu>li>a:hover,
.nav-category-list > li .nav-sublist-dropdown a:hover,
.sw-mobile-menu li > a:hover,
.sw-mobile-menu li.over > a{
    color: #e61446;
}
.header_widget .header-icon-cart .cart-popup-container,
.header_widget .header-icon-cart .cart-popup-container a,
.header_widget .cart-popup-container .mini-products-list p.product-name a,
.fixed-header .header-icon-cart .cart-popup-container,
.fixed-header .header-icon-cart .cart-popup-container a,
.fixed-header .cart-popup-container .mini-products-list p.product-name a{
    background-color: #fbfbf9;
    color: #7e786b;
}
.footer-top {
    background-color: #efeee2;
    color: #9d9889;
}
.footer-top a {
    color: #9d9889;
}
.footer-top a:hover,
.footer-top .tweet a{
    color: #e61446;
}
.footer-top .fb-like-btn a {
    border-color: #9d9889;
    color: #9d9889;
}
.footer-top .fb-like-btn a:hover {
    border-color: #e61446;
    color: #e61446;
}
.footer-top .footer-title {
    color: #888779;
}
.footer-top .bordered-wrapper {
}
.footer-bottom{
    background-color: #efeee2;
    color: #9d9889;
}
.footer-bottom a {
    color: #9d9889;
}
.footer-bottom a:hover,
.footer-bottom .tweet a{
    color: #e61446;
}
.footer-bottom .fb-like-btn a {
    border-color: #9d9889;
    color: #9d9889;
}
.footer-bottom .fb-like-btn a:hover {
    border-color: #e61446;
    color: #e61446;
}
.footer-bottom .footer-title {
    color: #888779;
}
.footer-bottom .bordered-wrapper {
}
.copyright {
    background-color: #efeee2;
    color: #9d9889;
}
.copyright .bordered-wrapper {
    border-color: #deddd4;
}
.top_main_type_6 .header-minicart .cart-sum a:before,
.top_main_type_6 .header-minicart:hover .cart-sum a,
.top_main_type_6 .header-minicart:hover .cart-sum .price,
.top_main_type_6 #search_mini_form .form-search .search-icon-button:before{
    color: #e61446;
}
.top_main_type_6 #search_mini_form .form-search .search-icon-button:hover{
    background-color: #e61446;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span,
html.fsvs #fsvs-pagination li.active > span > span{
    border-color: #e61446;
    background-color: #e61446;
}
.tab-round > ul > li.active a{
    border-color: #e61446;
    color: #e61446;
}
.sw_vertical_navigation .sw-vertical-navigation.cur_index{
    background-color: #e61446;
    border-color:#e61446;
}