body {

}
.cms-index-index input#search_o{background:#EEEEEE;}
input#search_o{background:#FBFAF4;}
.header-container{border-bottom:1px solid #888888}
.footer-bottom .row{padding:0;}
.footer .content-element{margin:0;}
.copyright{padding: 30px 0;}
#google_map{height:300px;}