.blog-slider-type-1 {
    padding-top: 95px;
    .owl-controls {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 0;
    }
}
.blog-home-type-1 {
  .post-info-container{
    .post-information,
    .post-comment-count{
      background: #efead9;
      border: none;
    }
  }
}
.posts-slider-custom {
    @include owl_controls_type1();
}
.post-slide {
    padding: 0 15px;
    @include clearfix;
}
.post-info-vertical-container {
    float: left;
    padding-right: 15px;
    text-align: center;
    .post-information,
    .post-comment-count{
      padding: 10px;
      border: 1px solid $c-input-border;
      background: #fbfaf4;
    }
}
.post-info-container {
    float: left;
    padding-right: 15px;
    text-align: center;
    .post-information,
    .post-comment-count{
        padding: 10px;
        border: 1px solid $c-input-border;
        background: #fbfaf4;
    }
    @include bp(max-width, $bp-xlarge) {
        float: none;
        width: 80px;
        padding: 0;
        position: absolute;
        top: 10px;
        left: 25px;
    }
    @include bp(max-width, $bp-xsmall) {
        left: 20px;
        top: 5px;
    }
}
.post-content-container {
    margin-left: 87px;
    h2 {
        font-size: 25px;
        margin-bottom: 10px;
        text-transform: none;
        &.blog-small-title{
            font-size: 20px;
        }
    }
    @include bp(max-width, $bp-xlarge) {
        float: none;
        width: 100%;
        margin-left: 0;
    }
}

.posted-on {
    display: block;
    text-transform: uppercase;
    &:before {
      display: block;
      font: 34px/0.9 granada-font;
      content: '\e80c';
    }
}
.post-comment-count {
  display: block;
  text-transform: uppercase;
  &:before {
    display: block;
    font: 23px granada-font;
    content: '\e837';
  }
}
.post-information + .post-comment-count {
    margin-top: 3px;
}
.post-images {
    margin-bottom: 20px;
}
.slider-blog-container {
    .title {
        font-size: 35px;
        text-align: center;
        margin-bottom: 35px;
    }
    .blog-custom-title {
        @include sub_title_type1();
    }
}
.side-blog-type-2 {
    .post-slide {
        margin-bottom: 30px;
    }
}

.postWrapper {
	.postLeft {
		width: 80px;
		margin-right: 20px;
		float: left;
	}
	.postRight {
		margin-left: 100px;
		.post-title {
			margin: 25px 0 15px;
			a {
				font-size: 28px;
				text-transform: none;
			}
		}
		.postContent {
			.more-link {
				display: inline-block;
				text-align: left;
				margin-top: 20px;
			}
			.read-more {
				margin: 0;
			}
		}
		.post-info {
			text-align: right;
			margin-top: -28px;
			margin-bottom: 0;
		}
	}
	@include clearfix;
}

.post-comment-icon, .post-date-icon {
	text-align: center;
	border: 1px solid $c-table-border;
	padding: 10px;
	font-size: 12px;
	font-family: $f-stack-verdana;
	margin-bottom: 1px;
	text-transform: uppercase;
	background-color: $body-bg-color;
}

.comment-icon {
	display: block;
	&:before {
		display: block;
		font: 24px/30px granada-font;
		content: '\e837';
	}
}

.post-images {

	position: relative;

	.post-comment-icon, .post-date-icon {
		position: absolute;
		left: 10px;
		top: 10px;
		padding: 5px 10px;
	}
}
.block-blog-categories ul.list-arrow {
	border-bottom: 1px solid $c-divider-border;
}
.postContent{
    margin-bottom:20px;
}
.side-blog-type-3 {
	.post-content-container {
		margin-left: 0;
		margin-bottom: 50px;
	}
	h3.post-title {
		margin-bottom: 10px;
		text-transform: none;
	}
	.postContent {
		height: 50px;
		line-height: 25px;
		text-overflow: ellipsis;
		display: block;
		overflow: hidden;
		padding-right: 10px;
		position: relative;
		margin-bottom: 20px;

		&:after {
			content: "...";
			display: block;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}

.block-blog-tags {
	.block-content {
		li {
			display: inline-block;
		}
		li > a {
			display: inline-block;
			border: 1px solid $c-blog-tag-border;
			line-height: 1.2;
			margin: 0 10px 13px 0;
			font-family: $f-stack-judson;

			&:hover{
				background-color: $c-blog-tag-border;
				color: #fff;
			}
		}
	}
}

.postBookmarks {
	margin-top: 30px;

	h4 {
		font-size: $f-size-xl;
		text-transform: none;
		display: inline-block;
		margin: 5px 10px 5px 0;
	}

	a {
		display: inline-block;
		margin: 5px 5px 5px 0;

		img {
			display: inline-block;
		}
	}
}
.on-blog-side .block-content {
	padding-bottom: 0;
}
.postTags {
	span {
		&.last {
			display: none;
		}
	}
}
.blog-post-view {
	.postWrapper {
		.postRight {
			.post-info {
				text-align: left;
				margin-top: 0;
				float: left;
			}
		}
		.postContent {
			margin-bottom: 50px;

			p {
				margin-bottom: 20px;
			}
		}
	}

	.postBookmarks {
		margin-top: 0;
		float: right;
	}

	.comments-title, .postTitle h3 {
		margin-bottom: 30px;
		padding: 0;
		border: 0;
		font-size: 27px;
		font-family: $f-stack-opensans;
		font-weight: 300;
	}

	.commentWrapper {
		margin-bottom: 70px;
		border: 0;

		.comment-avatar {
			float: left;
			width: 100px;
			margin-right: 30px;
			margin-bottom: 10px;
		}
		.comment-heading {
			.author-name {
				margin-right: 5px;
				margin-top: 0;
				display: inline-block;
				font-size: 25px;
				font-style: italic;
				font-weight: 400;
				font-family: $f-stack-judson;
				line-height: 1;
				margin-bottom: 10px;
				float: left;
			}
			.comment-date {
				float: right;
				line-height: 25px;
			}
		}
		.comment-content {
			margin-top: 40px;
		}
	}
	
	.post-comments {
		margin-bottom: 50px;

		.form-list {
			li {
				margin-bottom: 10px;
			}
			input[type=text] {
				margin-bottom: 12px;
	    		height: 46px;
                padding: 0 15px;
			}
			.comment-area {
				height: 105px;
                padding: 10px 15px;
			}
		}

		.button-set button {
			height: 46px;
			font-size: $f-size-xl;
		}
	}

}

.postBookmarks {
	.icon-facebook:before {
		content: '\e810';
	}
	.icon-twitter:before {
		content: '\e811';
	}
	.icon-linkedin:before {
		content: '\e812';
	}
	.icon-googleplus:before {
		content: '\e814';
	}

	a.bm {
		width: 40px;
		height: 40px;
		text-align: center;
		border: 1px solid $c-blog-bookmark;
		line-height: 38px;
		font-size: 16px;
		color: $c-blog-bookmark;

		&:hover {
			background-color: $c-blog-bookmark;
			color: $c-blog-bookmark-active;
		}
	}
}


@include bp(max-width, $bp-medium) {

	.postWrapper {
		.postRight {
			.post-info {
				text-align: left;
				margin-top: 20px;
				margin-bottom: 0;
			}
		}
		@include clearfix;
	}

	.blog-post-view {
		.postWrapper {
			.postRight {
				.post-info {
					float: none;
				}
			}
		}

		.postBookmarks {
			margin-top: 20px;
			float: none;
		}

		.commentWrapper {
			.comment-heading {
				.author-name {
					float: none;
				}
				.comment-date {
					float: none;
					margin-bottom: 10px;
				}
			}
			.comment-content {
				margin-top: 10px;
			}
		}
	}
}

@include bp(max-width, $bp-xsmall) {

	.blog-index-list {
		.toolbar .sort-by, .toolbar .limiter {
			margin: 10px 10px 0 10px;
		}
	}

}
.blog-toolbar {
    @include bp(max-width, $bp-medium){
        margin-bottom: 0;
    }
}
.postBanner .blog-mask{
    display: none !important;
}
.centered-nav{
  .slider-blog-container .blog-custom-title{
    text-align:center;
    font-size:25px;
    text-transform:none;
    margin-bottom:30px;
  }
  .posts-slider-custom{
      padding-top:87px;
      .owl-controls{
        position:absolute;
        top:0;
        left:0;
        right:0;
        text-align:center;
      }
  }
}