$c-newsletter-white: #ffffff;
$c-newsletter-dark: #000000;
$c-newsletter-gray: #6c675b;
.newsletter-wrapper{
    @include clearfix;
    text-align: center;
    .input-box,
    .actions {
        margin: 15px 0;
        display: inline-block;
        vertical-align: top;
    }
    .actions {
        margin-left: -1px;
    }
    .button {
        height: 55px;
        line-height: 55px;
        padding: 0 46px;
        @include bp(max-width, $bp-xsmall){
            height:44px;
            line-height:44px;
        }
    }
    input[type=text] {
        height: 55px;
        padding: 0 20px;
        width: 340px;
        font-size: 18px;
        font-weight: 300;
        font-family: open sans;
        @include bp(max-width, $bp-small){
            width: 290px;
        }
        @include bp(max-width, $bp-xsmall){
            width: 100%;
            height:44px;
        }
    }
}
.white-newsletter {
    color: $c-newsletter-white;
    .button,
    input {
        color: $c-newsletter-white;
        border-color: $c-newsletter-white;

    }
}
.dark-newsletter {
  color: $c-newsletter-dark;
  .button,
  input {
    color: $c-newsletter-dark;
    border-color: $c-newsletter-dark;

  }
}
.gray-newsletter {
  color: $c-newsletter-gray;
  .button,
  input {
    color: $c-newsletter-gray;
    border-color: $c-newsletter-gray;

  }
}
.s-newsletter{
  .newsletter-wrapper input[type=text]{
      height:46px;
  }
  .newsletter-wrapper .button{
      height:46px;
      line-height:46px;
  }
}
.newsletter-block1 {
    padding: 30px 130px;
    @include bp(max-width, $bp-medium){
        padding: 30px 15px;
    }
}
.newletter-title {
    font-size: 90px;
    margin-bottom: 24px;
    @include bp(max-width, $bp-medium) {
        font-size: 60px;
    }
    .small-block & {
        font-size: 60px;
        margin-bottom: 4px;
        @include bp(max-width, $bp-medium) {
          font-size: 40px;
        }
    }
}
.newsletter-desc {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 42px;
    @include bp(max-width, $bp-medium) {
        display: none;
    }
    .small-block & {
      font-size: 25px;
      margin-bottom: 24px;
    }
}
.newsletter-sub-title {
    font-size: 23px;
    line-height: 1;
    margin-bottom: 50px;
    .small-block & {
        margin-bottom: 20px;
    }
}
.newsletter-block_dark_demo7{
  .newsletter-sub-title{
      font-size:22px;
      margin-bottom:15px;
  }
  .newletter-title{
      font-size:65px;
      margin-bottom:15px;
  }
  .newsletter-desc{
      font-size:25px;
      margin-bottom:15px;
  }
}