/* ================================================= */
/***--------------   Category Page   --------------***/
/* ================================================= */
.catalog-category-view{
    .sidebar,
    .col-main{
        margin-top: 26px;
    }
}
/* -------------------------------------------- *
 * Product List General
 */
.category-title h1,
body.catalogsearch-result-index .page-title h1 {
    border-bottom: none;
}

.category-image {
    margin-bottom: $b-margin-bottom;
    img {
        width: 100%;
        max-width: 100%;
    }
}
/* -------------------------------------------- *
 * Toolbar
 */

/* -------------------------------------------- *
 * Product Name
 */
h2.product-name,
h3.product-name,
h4.product-name,
h5.product-name,
p.product-name {
    @include h2;
    font-size: $f-size-s;
    font-family: $f-stack-sourcecodepro;
    font-weight: normal;
    line-height: 1.4;
    a {
        color: $c-text;
        &:hover {
            color: $c-action;
            text-decoration: none;
        }
    }
}
.products-grid .product-name,
.products-list .product-name {
  text-transform: uppercase;
  font: 15px/17px $f-stack-special;
  text-align: center;
  margin-bottom: 9px;
}
.products-list .product-name {
  margin-bottom: 15px;
}
/* ============================================ *
 * Product Grid
 * ============================================ */
.products-grid {
    position: relative;
    @include clearfix;
    li.item {
      position: relative;
      margin-bottom: 50px;
      text-align: center;
      float: left;
      padding: 0 15px;
      overflow: hidden;
      @include clearfix;
    }
  .product-image {
    width: 100%;
  }
}
.product-image-wrapper {
    position: relative;
    border: 1px solid #e6dfd1;
}
.products-grid .product-image-wrapper {
  position: relative;
  @include perspective(600px);
  margin-bottom: 18px;
  overflow: hidden;
}

.products-grid .product-image img,
.products-list .product-image img{
    width: 100%;
    height: auto;
    @include transition(all 0.3s ease-in);
    &:hidden {
        display: none;
    }
}
.list-image-effect {
    position: relative;
    .small-slider-arrow {
        position: absolute;
        top: 50%;
        width: 25px;
        height: 30px;
        margin-top: -15px;
        z-index: 1;
        font-size: 0;
        padding: 0;
        @include opacity(0);
        visibility: hidden;
        &:before {
            font: 16px/28px granada-font;
        }
        &.arrow-left {
            left: 0;
            text-align: right;
            &:before {
                content: "\E80E";
            }
        }
        &.arrow-right {
            right: 0;
            text-align: left;
            &:before {
              content: "\E80D";
            }
        }
    }
    .item:hover & {
      .small-slider-arrow {
          @include opacity(1);
          visibility: visible;
      }
    }
}
.products-grid .product-info {
    position: relative;
    padding-bottom: 10px;
}

.products-grid,
.products-list {
    .alt-image-effect {
        .alt-image {
            position: absolute;
            overflow: hidden;
            left: 0;
            top: 0;
            z-index: 9;
            @include opacity(0);
            @include scale(0.85);
            visibility: hidden;
        }
    }
    li.item {
        &:hover {
          .alt-image-effect {
              .cat-main-img {
                  @include opacity(0);
                  @include scale(0.85);
                  visibility: hidden;
              }
              .alt-image {
                  @include opacity(1);
                  @include scale(1);
                  visibility: visible;
              }
          }
        }
    }
}
.products-grid {
  .actions {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 11;
      margin: 0;
      @include transition(all 0.25s ease-in);
      @include rotateX(125deg);
      @include transform-origin(bottom);
  }
  .actions-wrapper {
      position: relative;
      width: 100%;
      height: 36px;
      display: table;
      white-space: nowrap;
      .product-add-btn {
          display: table-cell;
          text-align: center;
          padding: 0;
          border: none;
      }
    .product-btn {
        display: table-cell;
        height: 36px;
        line-height: 1;
        max-height: 36px;
        vertical-align: middle;
        font-size: 0;
        max-width: 41px;
        width: 41px;
        background-color: $c-add-link;
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-left: 1px solid #e6dfd1;
        color: $c-button-txt;
        @include transition(all 0.35s);
        &:hover {
            background-color: $c-add-link-active;
            color: $c-button-txt;
        }
      }
  }
  .item:hover {
      .actions {
          @include rotateX(0);
      }
  }
}
.products-list {
  li.item {
    margin-bottom: 60px;
    text-align: left;
  }
  .product-name {
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }
  .ratings-wrapper {
      clear: right;
  }
  .add-to-links {
      clear: right;
  }
  .add-to-links a {
      padding: 0;
  }
  .availability {
      clear: right;
  }
  .actions-wrapper.btn-cart-wrapper {
    clear:right;
    margin-bottom: 8px;
  }
  .actions-wrapper li {
    display: inline-block;
  }
  .actions-wrapper .product-add-btn {
    display: block;
    padding: 7px 15px;
  }
}
.products-grid .ratings .rating-box {
    margin: 0 auto;
}

.products-grid .ratings .amount {
    display: none;
}
.products-list .ratings {
  margin: 0 0 10px;
}

.products-grid .price-box{
    color: $c-text-gray;
    font-size: 15px;
    margin: 0 0 13px;
    .price {
        font-size: 15px;
    }
}
.products-list .pricebox
{
    margin-bottom: 15px;
}
.products-grid.column5,
.products-grid.column6 {
    .label-icon {
        display: none;
    }
}
@mixin product-grid($column-count) {
    $column-width: percentage(1/$column-count);
    
    .products-grid.column#{$column-count} li.item {
        width: $column-width;
    }
    .products-grid.column#{$column-count} li.item.nth-child-#{$column-count}np1 {
        clear: left;
    }
}

@mixin product-large-grid($column-count) {
    $column-count-large: $column-count - 1;
    $column-width: percentage(1/$column-count-large);
    
    .products-grid.column#{$column-count} li.item {
        width: $column-width;
    }
    .products-grid.column#{$column-count} li.item.nth-child-#{$column-count}np1 {
        clear: none;
    }
    .products-grid.column#{$column-count} li.item.nth-child-#{$column-count-large}np1 {
        clear: left;
    }
}
@mixin product-large-spec-grid($column-count) {
    $column-count-spec-large: 3;
    $column-spec-width: percentage(1/$column-count-spec-large);
    .products-grid.column#{$column-count} li.item {
        width: $column-spec-width;
    }
    .products-grid.column#{$column-count} li.item.nth-child-#{$column-count}np1 {
        clear: none;
    }
    .products-grid.column#{$column-count} li.item.nth-child-#{$column-count-spec-large}np1 {
        clear: left;
    }
}
@mixin  product-xlarge-grid($column-count) {
    $column-xcount: 3;
    $column-xwidth: percentage(1/$column-xcount);
    .products-grid.column#{$column-count} li.item {
      width: $column-xwidth;
    }
    .products-grid.column#{$column-count} li.item.nth-child-6np1,
    .products-grid.column#{$column-count} li.item.nth-child-5np1,
    .products-grid.column#{$column-count} li.item.nth-child-4np1{
        clear: none;
    }
    .products-grid.column#{$column-count} li.item.nth-child-#{$column-xcount}np1 {
      clear: left;
    }
}
@mixin product-large-grid-padding($column-count) {
    .products-grid.column#{$column-count}.row,
    .products-slider.column#{$column-count} .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .products-grid.column#{$column-count} li.item.item {
        padding: 0 5px;
    }
}
@mixin product-cartbtn-icons($column-count) {
  .products-grid.column#{$column-count} .actions-wrapper .product-add-btn,
  .products-grid.column#{$column-count} .actions-container .product-add-btn{
    font-size: 0;
    &:before {
      font: 20px/36px granada-font;
      content: '\e817';
    }
    &.read-link:before {
        content: '\e81a';
    }
  }
  .products-grid.column#{$column-count} .actions-container .product-add-btn {
      padding: 0;
      width: 36px;
  }
}
@mixin product-btn-width($column-count) {
  .products-grid.column#{$column-count} .actions-wrapper .product-btn{
      width: 30px;
      max-width: 30px;
  }
  .products-grid.column#{$column-count} .actions-container .product-add-btn {
      width: 36px;
      padding: 0;
  }
}
@mixin product-btn-hidden($column-count) {
  .products-grid.column#{$column-count} .actions-wrapper .link-wishlist,
  .products-grid.column#{$column-count} .actions-wrapper .link-compare{
      display: none;
  }
}
@mixin  product-xlarge-icons($column-count) {
    .col2-left-layout,
    .col2-right-layout {
      @include product-btn-width($column-count)
    }
    @include product-cartbtn-icons($column-count);
}
@mixin product-large-icon($column-count) {
    .col2-left-layout,
    .col2-right-layout{
        @include product-cartbtn-icons($column-count);
    }
}
@include product-grid(1);
@include product-grid(2);
@include product-grid(3);
@include product-grid(4);
@include product-grid(5);
@include product-grid(6);
@include  bp(max-width, $bp-xlarge) {
    @include product-xlarge-grid(5);
    @include product-xlarge-grid(6);
}
@include bp(max-width, $bp-large) {
     @include product-large-grid(3);
     @include product-large-grid(4);
     @include product-large-spec-grid(5);
     @include product-large-spec-grid(6);
}
@include bp(max-width, $bp-medium) {
    .products-grid.column3 li.item {
        width: 50%;        
        &.nth-child-3np1 {
            clear: none;
        }
        &.nth-child-2np1 {
            clear: left;
        }
    }
    .products-grid.column4 li.item {
        width: 50%;        
        &.nth-child-4np1,
        &.nth-child-3np1{
            clear: none;
        }
        &.nth-child-2np1 {
            clear: left;
        }
    }
    .products-grid.column5 li.item {
        width: 50%;        
        &.nth-child-5np1,
        &.nth-child-4np1,
        &.nth-child-3np1{
            clear: none;
        }
        &.nth-child-2np1 {
            clear: left;
        }
    }
    .products-grid.column6 li.item {
      width: 50%;
      &.nth-child-6np1,
      &.nth-child-5np1,
      &.nth-child-4np1,
      &.nth-child-3np1{
        clear: none;
      }
      &.nth-child-2np1 {
        clear: left;
      }
    }
}
@include bp(max-width, $bp-medium) {
    .products-list{
        .product-image-wrapper {
            margin-bottom: 20px;
        }
        .a-right {
            text-align: left;
        }
        .product-name {
            margin-bottom: 5px;
        }
        .actions-wrapper.btn-cart-wrapper,
        .add-to-links{
            margin: 0;
            float: left;
            .product-add-btn{
                height: 36px;
            }
        }
        .actions-wrapper.btn-cart-wrapper {
            margin-right: 20px;
        }
        .desc {
            margin-bottom: 20px;
        }
    }
}
@include bp(max-width, $bp-xsmall) {
    .products-grid {
        &.column2,
        &.column3,
        &.column4,
        &.column5,
        &.column6{
          li.item {
                width: 100%;
                clear: left;
            }
        }
    }
}
@include bp(min-width, $bp-xlarge) {
    @include  product-xlarge-icons(5);
    @include  product-xlarge-icons(6);
}
@include bp(min-width, $bp-large) {
    @include product-large-icon(4);
    @include product-large-icon(5);
    @include product-large-icon(6);
    .col2-left-layout,
    .col2-right-layout{
        @include product-large-grid-padding(4);
    }
    .col3-layout {
        @include product-btn-width(3);
        @include product-cartbtn-icons(3);
        @include product-large-grid-padding(3);
        @include product-cartbtn-icons(4);
        @include product-btn-hidden(4);
        @include product-large-grid-padding(4);
    }
    @include product-large-grid-padding(5);
    @include product-large-grid-padding(6);
}

@media only screen and (min-width: 768px) and  (max-width: 991px) {
  @include product-cartbtn-icons(4);
  @include product-cartbtn-icons(5);
  @include product-cartbtn-icons(6);
  .col3-layout {
      @include product-cartbtn-icons(3);
  }
}
.input-container {
    margin-bottom: 20px;
}
.price-container {
    width: 47%;
    label {
      display: block;
      font-weight: normal;
      margin-bottom: 10px;
    }
    input {
      height: 33px;
      padding: 0 20px;
    }
}
.button.go {
  padding-left: 20px;
  padding-right: 20px;
}
.button.btn-clear {
  padding-left: 25px;
  padding-right: 25px;
}
.price_label_txt {
    text-transform: uppercase;
}
//product list slider
.slider-title {
    margin-bottom: 38px;
}
.products-list-slider {
    .item {
        padding: 0 15px;
    }
    .products-grid .product-name {
        text-align: left;
    }
    .products-grid .price {
        font-size: 15px;
    }
    .owl-controls {
        position: absolute;
        right: 0;
        top: -72px;
    }
    .owl-controls .owl-buttons div {
        display: inline-block;
        width: 35px;
        height: 35px;
        font-size: 0;
        border: 1px solid $c-input-border;
        @include transition(all 0.3s);
        &:before {
            font: 20px/35px granada-font;
        }
        &:hover {
            background-color: $c-button-active;
            border-color: $c-button-active;
            color: #FFFFFF;
        }
        &.owl-prev {
            text-align: right;
            &:before {
                content: "\E80E";
            }
        }
        &.owl-next {
            text-align: left;
            margin-left: 10px;
            &:before {
                content: "\E80D";
            }
        }
    }
}
@include bp(max-width, $bp-small){
  .products-list-slider .owl-controls{
      position: relative;
      text-align: center;
      top: 0;
  }
}
.products-grid li.item {
    .actions-container .links-container {
      position: relative;
      right: -80px;
      @include opacity(0);
      visibility: hidden;
      @include transition(all 0.35s);
      &.links-visibled{
          right: 0;
          @include opacity(1);
          visibility: visible;
      }
    }
    &:hover {
      .actions-container .links-container {
          right: 0;
          @include opacity(1);
          visibility: visible;
      }
    }
}
.grid-type-2 {
  .sw-product-quickview {
      position: absolute;
      display: block;
      bottom: 4px;
      right: 0;
      text-transform: uppercase;
      width: 60px;
      @include opacity(0);
      visibility: hidden;
      @include transition(all 0.35s);
      z-index: 30;
  }
  &.products-grid {
      .product-name {
          text-align: left;
      }
  }
  .product-add-btn,
  .product-btn {
      text-align: center;
  }
  &.products-grid li.item {
      text-align: left;
      &:hover{
        .sw-product-quickview {
          @include opacity(1);
          visibility: visible;
        }
      }
  }
}
.grid-type-3{
  &.products-grid {
    .product-name {
      margin-bottom: 10px;
    }
  }
}
.products-slider {
    .products-grid li.item {
        width: 100% !important;
    }
}
.slider-type-1 {
    position: relative;
    .title {
        font-size: 35px;
        margin-bottom: 40px;
        text-align: center;
    }
    .products-slider {
        padding-top: 95px;
    }
    .owl-controls {
        position: absolute;
        top: -95px;
        left: 0;
        right: 0;
        text-align: center;
    }
}
.slider-type-2 {
    .sub-title {
        @include sub_title_type1();
    }
    @include owl_controls_type1();
}
.category-description{
  margin-bottom:20px;
}
.cat-custom-item{
    margin-bottom: 60px;
    .banner .banner-content{
        margin: 0;
        padding: 0;
    }
    .adver-title{
        font-size: 45px;
    }
    .adver-content{
        width: 100%;
    }
}
.grid-type-4 .sw-product-quickview{
    position: absolute;
    display: block;
    bottom: 4px;
    right: 0;
    text-transform: uppercase;
    width: 60px;
    @include opacity(0);
    visibility: hidden;
    @include transition(all 0.35s);
    z-index: 30;
}
.grid-type-4.products-grid li.item:hover .sw-product-quickview{
    @include opacity(1);
    visibility:visible;
}
.home-product-slider{
    &.slider-type-3{
        > h2{
            text-align:center;
            font-size:25px;
            text-transform:none;
            margin-bottom:30px;
        }
        .products-slider{
            padding-top:87px;
            .owl-controls{
                position:absolute;
                top:-87px;
                left:0;
                right:0;
                text-align:center;
            }
        }
    }
}
.list-title{
  border-bottom:1px solid #d9d6ca;
  .cat-list-name{
    font-size:24px;
    text-transform:uppercase;
    border:1px solid #d9d6ca;
    border-bottom:0;
    display:inline-block;
    padding:9px 30px;
    border-top:2px solid;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
  }
}
.category-home-list-wrapper{
  padding:30px 0;
  margin-left:-15px;
  margin-right:-15px;
  .category_cms_block,
  .category-home-list{
    padding-left:15px;
    padding-right:15px;
    .adver_block .item{
      padding-top:0;
      padding-bottom:0;
    }
  }
  .products-grid li.item{
    float:none;
  }
  .owl-controls{
    position:absolute;
    top:-75px;
    right:15px;
  }
  @include clearfix();
  &.cms_include{
    .category_cms_block{
      float:left;
      width:23%;
      @include bp(max-width,$bp-large){
          display:none;
      }
    }
    .category-home-list{
      float:left;
      width:77%;
      @include bp(max-width,$bp-large){
        width:100%;
      }
    }
  }
}
[class^="cat-list-"]:before, [class*=" cat-list-"]:before,
[class^="cat-list-"]:after, [class*=" cat-list-"]:after {
  font-family: Flaticon;
  font-style: normal;
  margin-right: 5px;
  display:inline-block;
  vertical-align:top;
  line-height:34px;
  font-size:18px;
}
.cat-list-e000:before {
   content: "\e000";
 }
.cat-list-e001:before {
  content: "\e001";
}
.cat-list-e002:before {
  content: "\e002";
}
.cat-list-e003:before {
  content: "\e003";
}
.cat-list-e004:before {
  content: "\e004";
}
.cat-list-e005:before {
  content: "\e005";
}