$nav-li-span-padding: 15px 20px;
$top-menu-height-line-height: 47px;
$c-main-border: #eae9e9;
$c-sub-border: $c-main-border;
$c-main-bg: #fbfaf4;

$c-mb-active: #e61446;
$c-mb-top-txt: #59554d;
$c-mb-border: #95938c;
$c-mb-top-hover-bg: $c-mb-active;
$c-mb-top-hover-txt: #ffffff;

