<?xml version="1.0"?>
<config>
    <modules>
        <Sendcloud_Transporter>
            <version>0.1.0</version>
        </Sendcloud_Transporter>
    </modules>
    <frontend>
        <routers>
            <transporter>
                <use>standard</use>
                <args>
                    <module>Sendcloud_Transporter</module>
                    <frontName>transporter</frontName>
                </args>
            </transporter>
        </routers>
    </frontend>
    <global>
	
	<blocks>
             <transporter>
                <class>Sendcloud_Transporter_Block</class>
            </transporter>
            <adminhtml>
                <rewrite>
				
					<sales_order_view>Sendcloud_Transporter_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
	
	<helpers>
            <transporter>
                <class>Sendcloud_Transporter_Helper</class>
            </transporter>
        </helpers>
		<events>
    		<sales_order_save_after>
    			<observers>
    				<sales_order_save_after>
			            <type>model</type>
			            <class>transporter/observer</class>
			            <method>checkOrderStatus</method>
			        </sales_order_save_after>
    			</observers>
    		</sales_order_save_after>
		</events>
        <models>
            <transporter>
                <class>Sendcloud_Transporter_Model</class>
                <resourceModel>transporter_mysql4</resourceModel>
            </transporter>
            <transporter_mysql4>
                <class>Sendcloud_Transporter_Model_Mysql4</class>
                <entities>
                    <transporter>
                        <table>transporter</table>
                    </transporter>
                </entities>
            </transporter_mysql4>
        </models>
        <resources>
            <transporter_setup>
                <setup>
                    <module>Sendcloud_Transporter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </transporter_setup>
            <transporter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </transporter_write>
            <transporter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </transporter_read>
        </resources>
    </global>
	
	<admin>
		<routers>
			<transporter>
				<use>admin</use>
				<args>
					<module>Sendcloud_Transporter</module>
					<frontName>sendcloud</frontName>
				</args>
			</transporter>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<sendcloud>
											<title>Sendcloud</title>
										</sendcloud>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		
		<layout>
			<updates>
				<transporter>
					<file>sendcloud.xml</file>
				</transporter>
			</updates>
		</layout>
		<events>
        <core_block_abstract_prepare_layout_before>
            <observers>
                <transporter_core_block_abstract_prepare_layout_before>
                    <class>transporter/observer</class>
                    <method>addMassAction</method>
                </transporter_core_block_abstract_prepare_layout_before>
            </observers>
        </core_block_abstract_prepare_layout_before>
    </events>
	</adminhtml>
</config>


