<?xml version="1.0"?>
<config>
  <modules>
    <Smartwave_Ajaxcatalog>
      <version>1.0.0</version>
    </Smartwave_Ajaxcatalog>
  </modules>
  <global>
    <helpers>
      <ajaxcatalog>
        <class>Smartwave_Ajaxcatalog_Helper</class>
      </ajaxcatalog>
    </helpers>
    <blocks>
      <ajaxcatalog>
        <class>Smartwave_Ajaxcatalog_Block</class>
      </ajaxcatalog>
      <catalog>
        <rewrite>
          <layer_filter_price>Smartwave_Ajaxcatalog_Block_Catalog_Layer_Filter_Price</layer_filter_price>
        </rewrite>
      </catalog>
    </blocks>
    <models>
      <catalog>
        <rewrite>
          <layer>Smartwave_Ajaxcatalog_Model_Catalog_Layer</layer>
        </rewrite>
      </catalog>
      <catalogsearch>
        <rewrite>
          <layer>Smartwave_Ajaxcatalog_Model_Catalogsearch_Layer</layer>
        </rewrite>
      </catalogsearch>
    </models>
  </global>
  <frontend>
    <layout>
      <updates>
        <ajaxcatalog>
          <file>smartwave_ajaxcatalog.xml</file>
        </ajaxcatalog>
      </updates>
    </layout>
    <routers>
        <ajaxcatalog>
            <use>standard</use>
            <args>
                <module>Smartwave_Ajaxcatalog</module>
                <frontName>ajaxcatalog</frontName>
            </args>
        </ajaxcatalog>
        <catalog>
            <args>
                <modules>
                    <Smartwave_Ajaxcatalog before="Mage_Catalog">Smartwave_Ajaxcatalog_Catalog</Smartwave_Ajaxcatalog>
                </modules>
            </args>
        </catalog>
        <catalogsearch>
            <args>
                <modules>
                    <Smartwave_Ajaxcatalog before="Mage_CatalogSearch">Smartwave_Ajaxcatalog_CatalogSearch</Smartwave_Ajaxcatalog>
                </modules>
            </args>
        </catalogsearch>
    </routers>
  </frontend>
  <default>
    <ajax_catalog>
      <price_slider_settings>
        <price_slider_en>1</price_slider_en>
        <layered>1</layered>
        <slider>1</slider>
        <toolbar>1</toolbar>
      </price_slider_settings>
      <price_slider_conf>
        <timeout>0</timeout>
        <use_image>0</use_image>
		<handle_image>handle.png</handle_image>
		<background_image>slider-bg.jpg</background_image>
		<range_image>range-bg.jpg</range_image>
        <handle_color>#e61446</handle_color>
        <background_color>#d7d2c1</background_color>
        <range_color>#e61446</range_color>
        <handle_width>13</handle_width>
        <handle_height>13</handle_height>
        <slider_width>auto</slider_width>
        <slider_height>2</slider_height>
        <textbox>1</textbox>
		<goBtnText>OK</goBtnText>        
      </price_slider_conf>
    </ajax_catalog>
  </default>
</config>
