<?xml version="1.0"?>
<config>
    <modules>
        <Bubble_CmsTreePro>
            <version>1.3.2</version>
        </Bubble_CmsTreePro>
    </modules>
    <global>
        <resources>
            <bubble_cmstreepro_setup>
                <setup>
                    <module>Bubble_CmsTreePro</module>
                    <class>Bubble_CmsTree_Model_Resource_Setup</class>
                </setup>
            </bubble_cmstreepro_setup>
        </resources>
        <blocks>
            <bubble_cmstreepro>
                <class>Bubble_CmsTreePro_Block</class>
            </bubble_cmstreepro>
            <adminhtml>
                <rewrite>
                    <cms_page_edit>Bubble_CmsTreePro_Block_Adminhtml_Cms_Page_Edit</cms_page_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <bubble_cmstreepro>
                <class>Bubble_CmsTreePro_Helper</class>
            </bubble_cmstreepro>
        </helpers>
        <models>
            <bubble_cmstreepro>
                <class>Bubble_CmsTreePro_Model</class>
                <resourceModel>bubble_cmstreepro_resource</resourceModel>
            </bubble_cmstreepro>
            <bubble_cmstreepro_resource>
                <class>Bubble_CmsTreePro_Model_Resource</class>
                <entities>
                    <cms_page_version><table>bubble_cms_page_tree_version</table></cms_page_version>
                </entities>
            </bubble_cmstreepro_resource>
        </models>
        <events>
            <cms_page_save_after>
                <observers>
                    <bubble_cmstreepro>
                        <class>Bubble_CmsTreePro_Model_Cms_Page_Observer</class>
                        <method>savePageAfter</method>
                    </bubble_cmstreepro>
                </observers>
            </cms_page_save_after>
        </events>
    </global>
    <frontend>
        <events>
            <cms_page_load_after>
                <observers>
                    <bubble_cmstreepro>
                        <class>Bubble_CmsTreePro_Model_Cms_Page_Observer</class>
                        <method>loadPageAfter</method>
                    </bubble_cmstreepro>
                </observers>
            </cms_page_load_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bubble_CmsTreePro before="Bubble_CmsTree">Bubble_CmsTreePro_Adminhtml</Bubble_CmsTreePro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bubble_cmstreepro>
                    <file>bubble/cmstreepro.xml</file>
                </bubble_cmstreepro>
            </updates>
        </layout>
        <events>
            <controller_action_layout_render_before_adminhtml_cms_page_edit>
                <observers>
                    <bubble_cmstreepro>
                        <class>Bubble_CmsTreePro_Model_Cms_Page_Observer</class>
                        <method>renderAdminEditPageBefore</method>
                    </bubble_cmstreepro>
                </observers>
            </controller_action_layout_render_before_adminhtml_cms_page_edit>
        </events>
        <translate>
            <modules>
                <Bubble_CmsTreePro>
                    <files>
                        <default>Bubble_CmsTreePro.csv</default>
                    </files>
                </Bubble_CmsTreePro>
            </modules>
        </translate>
    </adminhtml>
</config>