/* Form */
#onestepcheckout-form .buckaroo-method select { width:auto !important; }
#onestepcheckout-form .buckaroo-method input.input-text { width:220px !important; }

#onestepcheckout-form .buckaroo-method .dob-month input.input-text { width:46px !important; }
#onestepcheckout-form .buckaroo-method .dob-day input.input-text { width:46px !important; }
#onestepcheckout-form .buckaroo-method .dob-year { width:0; }
#onestepcheckout-form .buckaroo-method .dob-year input.input-text { width:100px !important; }

#checkout-step-payment .buckaroo-method .ideal_container {height:20px;}
#onestepcheckout-form .buckaroo-method label { display:block; float:none; margin-bottom:2px; text-align:left !important; }
#onestepcheckout-form .buckaroo-method label img { height:15px; width:auto; margin-top:1px; display:block;}
#onestepcheckout-form .buckaroo-method label .bank_logo {display:block; height:17px; width: 40px; float: left;}
#onestepcheckout-form .buckaroo-method label input {float: left;}
#onestepcheckout-form .buckaroo-method label span.bank_name {display:block; height:17px; width:120px; margin-left: 5px; line-height: 1.2; float: left;}

#onestepcheckout-form .buckaroo-method .disabled { display:block; background:#f2f2f2; border:1px solid #b6b6b6; color:#999; padding:2px; width:220px; height:15px; line-height:16px; overflow:hidden; white-space:nowrap; }

#onestepcheckout-form .buckaroo-method ul li:first-child { padding-top:5px; }

/* Payment Guarantee Terms & Conditions */
#onestepcheckout-form #payment_form_buckaroo3extended_paymentguarantee .tac-accept .input-box { width:auto !important; }
#onestepcheckout-form #payment_form_buckaroo3extended_paymentguarantee .tac-accept .input-box input { float:left; margin:3px 4px 0 0; }
#onestepcheckout-form #payment_form_buckaroo3extended_paymentguarantee .tac-accept label { display:inline; float:none; }
#onestepcheckout-form #payment_form_buckaroo3extended_paymentguarantee .tac-accept label.required em { position:static; float:none; }
#onestepcheckout-form #payment_form_buckaroo3extended_paymentguarantee .tac-accept .validation-advice { padding:3px 0 6px 17px; background-position:2px 3px; }

#onestepcheckout-form #paymentguarantee_terms_and_conditions { display:none; }
#onestepcheckout-form #paymentguarantee_terms_and_conditions { position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(0, 0, 0, .35); z-index:100; }
#onestepcheckout-form #paymentguarantee_terms_and_conditions .tac-content { position:fixed; background:#fff; width:310px; height:auto; left:50%; top:30px; margin-left:-155px; padding:8px 8px 12px; border: 1px solid #b6b6b6; z-index:200; }
#onestepcheckout-form #paymentguarantee_terms_and_conditions .tac-close { float:right; }

#onestepcheckout-form #paymentguarantee_terms_and_conditions a.button { text-decoration:none !important; cursor:pointer !important; background:none !important; }
#onestepcheckout-form #paymentguarantee_terms_and_conditions a.button span { display:block; height:19px; border:1px solid #de5400; background:#f18200; padding:0 8px; font:bold 12px/19px Arial, Helvetica, sans-serif; text-align:center; white-space:nowrap; color:#fff; }
#onestepcheckout-form #paymentguarantee_terms_and_conditions a.button span span { border:0; padding:0; }